<!DOCTYPE html>
<html>
<head>
  <title>Learnster</title>

  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <%= include_gon(:init => true) %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
</head>
<body>

<%= yield %>

</body>
</html>
